#{$root} {
  .anycomment-btn,
  .input[type="submit"],
  input + .input[type="button"] {
    @include button();

    &:hover,
    &:active,
    &:focus {
      @include button();
      background-color: $btn-background-color-active !important;
    }
  }

  .anycomment-btn[disabled] {
    background-color: $semi-hidden-color;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($semi-hidden-color, 5%);
    }
  }
}
