#{$root} {
  &,
  & *,
  *:before,
  *:after {
    box-sizing: border-box !important;
  }

  a {
    text-decoration: none;
  }

  .clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .anycomment {
    float: none;
    text-align: left;
    font-family: $font-family;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    opacity: 1;
    margin: 0;
    padding: 0;
    border: none 0;
    border-radius: 0;
    font-size: $font-size - 1;
    vertical-align: baseline;
    background: 0 0;
    color: $text-color;
    line-height: 1.167em;
    outline: 0;
    text-transform: none;
    text-decoration: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    min-height: 0;
    -webkit-overflow-scrolling: touch;
  }
}




