$font-size: 15px !default;
$font-family: 'Noto-Sans', sans-serif !default;

$semi-hidden-color: #b6c1c6 !default;

$link-color: #3658f7 !default;
$link-color-active: darken($link-color, 5%) !default;
$text-color: #333 !default;

$form-field-background-color: #fff !default;

$attachment-color: #eee !default;
$attachment-background-color: #eee !default;

$parent-avatar-size: 60px !default;
$child-avatar-size: 48px !default;

$comment-parent-space: $parent-avatar-size + 20 !default;
$comment-child-space: $parent-avatar-size + 10 !default;

$comment-field-padding: 41px 10px 5px 93px !default;
$comment-field-default-height: 96px !default;

$form-after-space: 50px !default;

$btn-radius: 40px !default;

$btn-color: #fff !default;
$btn-height: 48px !default;
$btn-padding: 0 50px !default;
$btn-background-color: #53af4a !default;
$btn-background-color-active: #4f9f49 !default;

$global-radius: 4px !default;
$global-padding: 40px 0 !default;

$root: '#anycomment-root' !default;