@import "variables";
@import "mixins";

// Lightbox fix
#lightboxBackdrop {
  z-index: 99999;
}

#{$root} {
  .anycomment-uploads {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__item {
      overflow: hidden;
      margin: 5px;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: $semi-hidden-color;
      @include border-radius($global-radius);

      &:hover .anycomment-uploads__item-close {
        display: block;
      }

      &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        display: none;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }
      }

      &-thumbnail {
        width: 100%;
        height: auto;
        @include border-radius($global-radius);
      }

      .isvg {
        svg {
          height: 62%;
          margin: 11px auto;
          display: table;
        }
      }
    }
  }
}