@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin button() {
  font-size: $font-size !important;
  font-weight: normal !important;
  text-align: center !important;
  text-transform: none !important;
  justify-content: center;
  color: $btn-color !important;
  padding: 0 50px !important;
  height: 48px !important;
  line-height: 48px !important;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  opacity: 1;
  outline: 0;
  cursor: pointer;
  user-select: none;
  appearance: none;
  white-space: nowrap;
  @include border-radius(24px);
}

@mixin avatar() {
  background-size: cover;
  background-position: center center;
  @include border-radius(50%);
}

@mixin avatar-parent() {
  width: $parent-avatar-size;
  height: $parent-avatar-size;
}

@mixin avatar-child() {
  width: $child-avatar-size;
  height: $child-avatar-size;
}