@import "_mixins";

$global-radius: 4px;
$global-padding: 10px 0;

$font-size: 13px;

$parent-avatar-size: 40px;
$child-avatar-size: 30px;

$comment-parent-space: $parent-avatar-size + 10;
$comment-child-space: $parent-avatar-size + 5;
$comment-field-padding: 33px 5px 5px ($parent-avatar-size + 30);

$form-after-space: 20px;

$comment-field-default-height: 80px;

$btn-height: 35px;
$btn-padding: 0 40px;

@media (max-width: 500px) {

  .anycomment-btn,
  .input[type="submit"],
  input + .input[type="button"] {
    @include button();

    &:hover,
    &:active,
    &:focus {
      @include button();
      background-color: $btn-background-color-active !important;
    }
  }

  .anycomment-send-comment.anycomment-send-comment-authorized {
    .anycomment-send-comment-body {
      &-outliner {
        &__avatar {
          margin-top: -($parent-avatar-size/2);
          @include avatar();
          @include avatar-parent();
        }
      }
    }
  }

  // Send comment
  .anycomment-send-comment {
    margin-bottom: $form-after-space;

    &-supheader {
      font-size: $font-size;
      margin-bottom: 10px;

      &__dropdown {
        &-header,
        &-list {
          font-size: $font-size;
        }

        &-list {
          @include border-radius($global-radius);
        }
      }
    }

    &-body {
      &-reply {
        font-size: $font-size - 2;
      }

      &,
      &-outliner {
        width: 100%;
      }

      &-outliner {
        @include border-radius($global-radius);

        &__auth {
          background-color: rgba(255, 255, 255, .9);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 4;
          width: 100%;
          height: 100%;

          &-header {
            color: $text-color;
            font-size: $font-size + 3;
            margin-right: 21px;
          }

          // List of socials to login
          ul {
            list-style: none;
            padding: 0;
            display: table;
            margin: 17px auto 6px;

            li {
              display: inline-block;
              vertical-align: middle;
              margin-right: 6px;

              &:last-of-type {
                margin-right: 0;
              }

              & img {
                width: 30px;
                height: 30px;
              }
            }
          }

          // Case when user agreement link is not set in settings
          &.no-link {
            ul {
              margin: 32px auto;
            }
          }
        }

        &__logo {
          position: absolute;
          left: 33px;
          top: 36px;
          width: 26px;
          height: 26px;
          background: url('../img/comment-logo.svg') no-repeat;
          z-index: 2;
        }

        &__select-file {
          position: absolute;
          top: 2px;
          right: 18px;
          height: 25px;
          width: 25px;
          cursor: pointer;
          opacity: 0.6;
          z-index: 2;

          &:hover,
          &:active,
          &:focus {
            opacity: 1;
          }
        }

        &__textfield {
          font-size: $font-size;
          padding: $comment-field-padding !important;
          min-height: $comment-field-default-height;
        }
      }

      // Dropzone
      &-outliner-dropzone-active {
        border-style: dashed;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background: url('../img/dropzone.svg');
          background-size: cover;
          width: 60px;
          height: 60px;
          z-index: 4;
          opacity: 0.5;
          margin-left: -30px;
          margin-top: -30px;
        }
      }

      .anycomment-form-guest {
        &__header {
          font-size: $font-size - 6;
          color: $semi-hidden-color;
        }

        &__container {
          .anycomment-form-guest-socials,
          .anycomment-form-submit {
            display: block;
            width: 100%;
          }
        }
      }

      .anycomment-input-list {
        width: 100%;

        &-single {
          display: block;
          padding-right: 0;
          width: 100%;

          label {
            font-size: $font-size - 3;
          }

          input[type="text"],
          input[type="email"],
          input[type="number"] {
            font-size: $font-size - 4;
            @include border-radius($global-radius);
          }
        }
      }
    }
  }

  // Footer
  .anycomment-copy-footer {
    margin-top: $big-space;
    padding-top: $medium-space;
    font-size: $font-size - 3;
  }

  // Comments list
  .anycomment-list {
    .comment-single {
      margin-bottom: $medium-space;

      &-replies {
        margin-top: $medium-space;
      }

      &-avatar {
        &,
        &__img {
          @include avatar-parent();
        }

        &__img {
          @include avatar();
          @include border-radius(50%);

          &-auth-type {
            bottom: $parent-avatar-size - ($parent-avatar-size - 6);
            right: $parent-avatar-size - ($parent-avatar-size - 6);
            width: $parent-avatar-size / 4;
            height: $parent-avatar-size / 4;
          }
        }
      }

      &-body {
        &-header {
          &__author {
            &,
            & > a {
              font-size: $font-size - 1;
            }

            &-owner {
              font-size: $font-size - 6;
              margin-left: 5px;
              @include border-radius($btn-radius);
            }
          }

          &__date {
            font-size: $font-size - 2;
            min-height: $small-space;
            line-height: $small-space;
          }
        }

        &__text {
          &-content {
            font-size: $font-size;
          }

          &-readmore {
            font-size: $font-size - 2;
          }
        }

        .comment-attachments {
          li {
            .comment-attachment {
              width: $attachment-size;
              height: $attachment-size;
              line-height: $attachment-size;
              font-size: $font-size - 7;
              color: darken($attachment-color, 15%);
              @include border-radius($global-radius);
            }
          }
        }

        &__actions {
          ul {
            li {
              margin-right: $small-space;

              a, span {
                font-size: $font-size - 1;
              }
            }
          }
        }
      }

    }

    // Child comments
    &-child {
      .comment-single {
        &-avatar {
          &,
          &__img {
            @include avatar-child();
          }
        }

        &-body {
          .comment-attachments {
            li {
              .comment-attachment {
                width: $attachment-child-size;
                height: $attachment-child-size;
                line-height: $attachment-child-size;
                font-size: $font-size - 9;
              }
            }
          }
        }
      }
    }
  }

  &-inner > .anycomment-list {

    ul.anycomment-list-child {
      .comment-single-body {
        padding-left: $comment-child-space;
      }
    }

    & > .comment-single {

      & > .comment-single-body {
        padding-left: $comment-parent-space;
      }

      & > .comment-single-replies {
        // Second level
        & > ul.anycomment-list-child {
          margin-left: $comment-parent-space;

          // Third level
          & > li {
            & > .comment-single-replies {
              & > ul.anycomment-list-child {
                margin-left: $comment-parent-space;
              }
            }
          }
        }
      }
    }
  }
}