doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title AnyComment
        meta(name='viewport', content='minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no')
        link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap&subset=cyrillic-ext", rel="stylesheet")
        meta(http-equiv="Cache-Control", content="no-cache")
        meta(http-equiv="Cache-Control", content="private")
        meta(http-equiv="Cache-Control", content="max-age=60, must-revalidate")
        meta(http-equiv="Cache-Control", content="max-age=60, proxy-revalidate")
    body
        #root

script(src='./index.js')
