.anycomment-socials-setup {
  width: 100%;

  .form-table-wrapper.has-guide,
  .form-table-guide {
    display: inline-block;
    float: left;
  }

  .form-table-wrapper.has-guide {
    width: 70%;
  }

  .form-table-guide {
    width: 30%;
    padding: 20px 10px;
  }

  aside,
  &-container {
    display: inline-block;
    float: left;
  }

  aside {
    width: 30%;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.toggled {
          a {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              right: 15px;
              top: 50%;
              margin-top: -16px;
              width: 32px;
              height: 32px;
              background-color: #39b349;
              @include border-radius(50%);
            }
          }
        }

        &.active,
        &.current {
          a {
            background-color: #bfbfbf;
            color: #fff;
          }
        }

        a {
          padding: 5px;
          color: #808080;
          background-color: #e9e9e9;
          display: block;
          width: 100%;
          font-size: 24px;
          font-weight: 400;
          box-shadow: none;
          @include border-radius(30px);

          &:hover,
          &:active,
          &:focus {
            background-color: #bfbfbf;
            color: #fff;
          }

          img {
            width: 41px;
            height: 41px;
            vertical-align: middle;
            display: inline-block;
            margin-right: 9px;
          }
        }
      }
    }
  }

  &-container {
    width: 70%;
    padding: 0 20px;

    .social-tab.current {
      display: block;
    }

    .social-tab {
      display: none;
      border: 2px solid #e5e5e5;
      @include border-radius(6px);
    }
  }
}