.anycomment-dashboard *,
.anycomment-dashboard *:before,
.anycomment-dashboard *:after {
  box-sizing: border-box; }

.anycomment-dashboard {
  font-family: Roboto, Arial, Verdana, sans-serif;
  background-color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px; }
  .anycomment-dashboard a {
    color: #484848;
    text-decoration: none; }
  .anycomment-dashboard__header {
    margin-bottom: 30px;
    padding-right: 37px; }
    .anycomment-dashboard__header-logo {
      float: left;
      text-align: left; }
      .anycomment-dashboard__header-logo img {
        height: 38px;
        margin-right: 20px;
        vertical-align: top;
        margin-top: -10px; }
      .anycomment-dashboard__header-logo img, .anycomment-dashboard__header-logo h2 {
        display: inline-block;
        float: left; }
      .anycomment-dashboard__header-logo h2 {
        font-size: 28px;
        font-weight: 500;
        padding: 0;
        margin: 0;
        color: #484848; }
    .anycomment-dashboard__header-official {
      float: right;
      text-align: right;
      color: #373737;
      font-size: 28px; }
  .anycomment-dashboard__tabs {
    width: 100%; }
    .anycomment-dashboard__tabs ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .anycomment-dashboard__tabs ul li {
        display: inline-block;
        float: left;
        margin: 0 25px 0 0; }
        .anycomment-dashboard__tabs ul li:last-of-type {
          margin-right: 0; }
        .anycomment-dashboard__tabs ul li a {
          color: #686868;
          font-size: 20px;
          font-weight: 300;
          display: block;
          padding: 15px 0; }
          .anycomment-dashboard__tabs ul li a:hover {
            color: #484848; }
      .anycomment-dashboard__tabs ul li.active a {
        color: #000;
        border-bottom: 5px solid #44cdac;
        padding: 15px 0; }
  .anycomment-dashboard__splitter {
    border-top: 2px solid #d8d8d8;
    border-bottom: 2px solid #d8d8d8; }
    .anycomment-dashboard__splitter-half {
      padding: 30px 0;
      width: 50%;
      float: left; }
      .anycomment-dashboard__splitter-half:first-child {
        border-right: 2px solid #d8d8d8; }
      .anycomment-dashboard__splitter-half-center {
        display: table;
        margin: 0 auto; }
        .anycomment-dashboard__splitter-half-center img {
          float: left;
          margin-right: 20px; }
      .anycomment-dashboard__splitter-half-description {
        padding-top: 50px;
        float: right; }
        .anycomment-dashboard__splitter-half-description span {
          text-align: center;
          font-weight: 300;
          display: block; }
          .anycomment-dashboard__splitter-half-description span:first-child {
            font-size: 86px;
            font-weight: 300;
            color: #53146c;
            margin-bottom: 50px; }
          .anycomment-dashboard__splitter-half-description span:last-of-type {
            color: #747474;
            font-size: 22px; }
  .anycomment-dashboard__statistics {
    width: 100%; }
    .anycomment-dashboard__statistics-graph, .anycomment-dashboard__statistics-userlist {
      display: inline-block;
      float: left; }
    .anycomment-dashboard__statistics-graph {
      width: 80%; }
    .anycomment-dashboard__statistics-userlist {
      width: 20%; }
  .anycomment-dashboard__container, .anycomment-dashboard__sidebar {
    display: inline-block;
    float: left; }
  .anycomment-dashboard__container {
    width: 80%;
    padding: 37px 0 37px 37px; }
  .anycomment-dashboard__sidebar {
    padding: 37px;
    width: 20%;
    -webkit-border-radius: 0 16px 16px 0;
    -moz-border-radius: 0 16px 16px 0;
    -ms-border-radius: 0 16px 16px 0;
    border-radius: 0 16px 16px 0;
    background-color: #282828; }

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/*# sourceMappingURL=admin.css.map */
