$primary-color: #1E88E5;
$font-size: 14px;
$comment-border: 0px solid transparent;
$font-family: Verdana, Arial, sans-serif;

#anycomment-comments {
  position: relative;
}


.anycomment-login-with-list {
  list-style: none;
  margin: 0 0 10px;

  li {
    display: inline-block;
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: $primary-color;
      font-size: $font-size;
    }
  }
}

.anycomment-btn {
  background-color: $primary-color;
  padding: 2px 10px;
  display: inline-block;
  border: 0;
  margin-bottom: 5px;

  &,
  &:hover,
  &:active,
  &:focus {
    font-family: $font-family;
    color: #fff;
    border: 0;
    font-size: $font-size;
  }

  &:hover {
    background-color: lighten($primary-color, 2%);
  }
}

.comment-core-send-box {
  &-textfield {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 300px;
    font-size: $font-size;
    color: #000;
  }
}

//#anycomment-load-container {
.anycomment-list {
  list-style: none;
  margin: 0;

  &-child {
    margin-left: 30px;
  }

  .comment-single {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background-color: #fff;
    border: $comment-border;
    border-radius: 3px;
    padding: 15px 0;
    font-family: $font-family;

    &:last-of-type {
      padding-bottom: 0 !important;
    }

    &-author {
      width: 100%;
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;

      &, & > a {
        color: #000;
        font-family: $font-family;
      }
    }

    &-text {
      &, p {
        font-size: 17px;
        color: #000;
        margin-bottom: 6px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.58;
        letter-spacing: -.003em;
        font-family: $font-family;
      }
    }

    &-actions {
      a {
        font-size: $font-size;
        font-family: $font-family;
      }

      &-reply {
        background-color: #dedede;
        padding: 5px;
        display: inline-block;
        margin-bottom: 5px;
      }
    }

    // Reply box
    &-reply-box {
      width: 100%;
      display: block;
      margin-top: 5px;

      textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 100px;
        max-height: 300px;
        font-size: $font-size;
        color: #000;
        font-family: $font-family;
      }
    }
  }
}

// Loader animation
.anycomment-loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.anycomment-loader {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -25px;
  margin-top: -20px;

  & > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  & > &-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  & > &-rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  & > &-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  & > &-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}