$primary-color: #3658f7;
$semi-hidden-color: #b6c1c6;
$comment-color: #333333;
$font-size: 15px;
$comment-border: 0px solid transparent;
$font-family: 'Noto-Sans', sans-serif;

$parent-avatar-size: 60px;
$child-avatar-size: 48px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@import "normalizer";

body {
  font-family: $font-family;
  a {
    text-decoration: none;
  }
}

%author-avatar-parent {
  width: $parent-avatar-size;
  height: $parent-avatar-size;
}

%author-avatar-child {
  width: $child-avatar-size;
  height: $child-avatar-size;
}

%author-avatar {
  background-size: cover;
  background-position: center center;
  @include border-radius(50%);
}

.send-comment.send-comment-authorized {
  .send-comment-body {
    &-outliner {
      height: 96px;
      &__avatar {
        position: absolute;
        top: 18px;
        left: 15px;
        z-index: 2;
        @extend %author-avatar;
        @extend %author-avatar-parent;
      }
      &__textfield {
        padding: 41px 10px 5px 93px;
        min-height: 96px !important;
      }
    }
  }
}

// Send comment
.send-comment {
  width: 100%;
  margin-bottom: 50px;

  &-supheader {
    width: 100%;
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;

    &__count,
    &__dropdown {
      display: inline-block;
    }

    &__count {
      color: #696969;
    }

    &__dropdown {
      float: right;
      color: #cccccd;
    }
  }

  &-body {

    &,
    &-outliner {
      width: 100%;
    }

    &-outliner {
      border: 2px solid #b6c1c6;
      min-height: 64px;
      position: relative;
      overflow: hidden;
      max-height: 300px;
      background-color: #fff;
      margin-bottom: 16px;
      @include border-radius(4px);

      &__auth {
        background-color: rgba(255, 255, 255, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;

        &-header {
          color: $comment-color;
          font-size: $font-size + 3;
          margin-right: 21px;
        }

        ul {
          list-style: none;
          padding: 0;
          display: table;
          margin: 17px auto;

          li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }

      &__logo {
        position: absolute;
        left: 33px;
        top: 20px;
        width: 26px;
        height: 26px;
        background: url('../img/comment-logo.svg') no-repeat;
        z-index: 2;
      }

      &__textfield {
        background-color: #fff;
        border: 0;
        outline: 0;
        font-size: $font-size;
        float: left;
        width: 100%;
        min-width: 100% !important;
        max-width: 100% !important;
        min-height: 64px !important;
        max-height: 300px !important;
        height: 64px;
        position: relative;
        padding: 22px 10px 5px 89px;
        z-index: 1;
      }
    }

    &__btn {
      font-size: $font-size;
      font-weight: normal;
      text-align: center;
      color: #ffffff;
      padding: 0 50px;
      line-height: 48px;
      background-color: #53af4a;
      display: inline-block;
      float: right;
      border: 0;
      outline: 0;
      cursor: pointer;
      @include border-radius(24px);
    }
  }
}

// Footer
.main-footer {
  margin-top: 50px;
  padding-top: 18px;
  text-align: right;
  font-size: $font-size - 3;
  border-top: 2px solid #e4e2e7;

  &, a {
    color: #cccccd;
  }

  a:hover,
  a:focus,
  a:active {
    color: $comment-color;
  }

  img {
    margin-right: 6px;
    vertical-align: middle;
  }
}

// Main
#anycomment-comments {
  position: relative;
  padding: 44px;
}

// Comments list
.anycomment-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .comment-single {
    width: 100%;
    display: block;
    margin-bottom: 18px;
    padding: 0;
    position: relative;

    &-replies {
      margin-top: 18px;
    }

    &:last-of-type {
      padding-bottom: 0 !important;
    }

    &-avatar {
      position: absolute;
      left: 0;
      top: 0;

      &,
      &__img {
        @extend %author-avatar-parent;
      }

      &__img {
        @extend %author-avatar;
        @include border-radius(50%);
      }
    }

    &-body {
      padding-left: 90px;

      &-header {

        &__author {
          color: $primary-color;
          font-size: $font-size - 1;
          display: block;
          margin-bottom: 2px;

          &-replied,
          &-parent-author {
            color: $primary-color;
          }

          &-answered {
            color: #a7b4ba;
          }
        }

        &__date {
          color: #b6c1c6;
          font-size: $font-size - 1;
        }
      }

      &__text {
        width: 100%;
        margin: 5px 0;

        p {
          color: $comment-color;
          font-size: $font-size;
          line-height: 1.45;
          padding: 0;
          margin: 0;
        }
      }

      &__actions {
        width: 100%;
        display: block;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin-right: 5px;

            &:last-of-type {
              margin-right: 0;
            }

            a {
              font-size: $font-size - 1;
              color: $semi-hidden-color;
            }
          }
        }
      }
    }

  }

  // Child comments
  &-child {
    margin-left: 90px;

    .comment-single {
      &-avatar {
        &,
        &__img {
          @extend %author-avatar-child;
        }
      }

      &-body {
        padding-left: 66px;
      }
    }
  }
}

// Loader animation
.anycomment-loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.anycomment-loader {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -25px;
  margin-top: -20px;

  & > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  & > &-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  & > &-rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  & > &-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  & > &-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}