$primary-color: #64ceac;
$semi-hidden-color: #efe9f1;
$comment-color: #fff;
$dropdown-header-color: $comment-color;
$dropdown-item-color: #000;

@import "comments";

.send-comment {
  .send-comment-body {
    &-outliner {
      border: 0;
    }
  }
}

