/*
Error: CSS import directives may only be used at the root of a document.
        on line 62 of app.scss

57:   @import "vendor/jqueryminicolors.scss";
58: 
59:   @import "components/admin";
60: 
61:   // Select 2
62:   @import '../../../node_modules/select2/dist/css/select2.css';
63: 
64:   @import '../../../node_modules/codemirror/lib/codemirror.css';
65: }

Backtrace:
app.scss:62
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:13:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:38:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:24:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:35:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:82:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:359:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/scss:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: CSS import directives may only be used at the root of a document.\A         on line 62 of app.scss\A \A 57:   @import \"vendor/jqueryminicolors.scss\";\A 58: \A 59:   @import \"components/admin\";\A 60: \A 61:   // Select 2\A 62:   @import '../../../node_modules/select2/dist/css/select2.css';\A 63: \A 64:   @import '../../../node_modules/codemirror/lib/codemirror.css';\A 65: }"; }
