// Likes/dislikes file
#{$root} {
  .anycomment-comment-rating {
    position: absolute;
    top: $parent-avatar-size + 10;
    left: 0;
    width: $parent-avatar-size;

    &__counter {
      font-size: $font-size - 2;
      line-height: 14px;
      text-align: center;
      color: $semi-hidden-color;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--up,
      &--down {
        cursor: pointer;
        width: 20px;
        text-align: center;
      }
    }
  }

  .comment-single-replies {
    .anycomment-comment-rating {
      position: absolute;
      top: $child-avatar-size + 10;
      left: -4px;
      width: $child-avatar-size + 10;
    }
  }

  // Mobile styles
  @media (max-width: 500px) {
    @import '../common/mobile_variables';

    .anycomment-comment-rating {
      top: $parent-avatar-size + 10;
      width: $parent-avatar-size;
    }

    .comment-single-replies {
      .anycomment-comment-rating {
        top: $child-avatar-size + 10;
        width: $child-avatar-size + 10;
      }
    }
  }
}