.anycomment-app {
  .anycomment-uploads {
    margin: 5px 0;
    padding: 5px 0;
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;

    &,
    &__item {
      list-style: none;
    }

    &__item {
      overflow: hidden;
      margin: 5px;
      cursor: pointer;
      width: $attachment-size;
      height: $attachment-size;
      line-height: $attachment-size;
      text-align: center;
      background-color: $attachment-background-color;
      @include border-radius($global-radius);

      &:hover .anycomment-uploads__item-close {
        display: block;
      }

      &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
        display: none;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        text-align: center;
        line-height: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        opacity: 0.9;

        &:hover {
          opacity: 1;
        }
      }

      &-thumbnail {
        width: 100%;
        height: auto;
        @include border-radius($global-radius);
      }

      .anycomment-icon {
        font-size: 27pt;
        color: darken($attachment-background-color, 20%);
      }
    }
  }

  // When modifying uploads => align right
  .anycomment-form {
    .anycomment-uploads {
      justify-content: flex-end;
    }
  }
}
